:root {
    --transblue: #55CDFC;
    --transpink: #F7A8B8;
    --white: #ffffff;
    --snow: #E1DDD1;
    --cloud: #A7ADBB;
    --storm: #191f24;
    --razzmic-berry: #88527fff;
    --rich-black-fogra-29: #031927ff;
    --ocean-green: #43c59eff;
    --isabelline: #f4ededff;
    --myrtle-green: #3d7068ff;

  }


body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--storm) ;
    font-family: "Teko";
    font-weight: 300;
    font-size: 1.5vw;
    color: var(--razzmic-berry);

}

#box {
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



#intro {
font-family: "Permanent Marker";
flex-direction: column;
justify-content: center;
}

.drop {
    position: relative;
    width: 5vw;
    height: 5vw;
    left: 50vw;
    border-radius: 5vw ;
    border-left: 10%;
    background-color: var(--cloud);
    align-self: center;
    animation: drip 4s infinite linear, fade 4s infinite ease-in;

    
}
.drop:before {
    content: '';
    position: relative;
    width:0;
    height:0;
    border-left: 2.5vw solid transparent;
    border-right: 2.5vw solid transparent;
    border-bottom: 7.5vw solid var(--cloud);
    top: -7.5vw;

}

@keyframes drip {
    from {
        top: 0px;
    }
      to {
        top: 500px;
      }
}

@keyframes fade{
    from {
        opacity: 1;
        
    }
    to {
        opacity: 0;
    }
}

h1 {
    margin: 0;
    font-size: 10vw;
    color: var(--cloud);
}

#pfp {
    width: 20vw;
    height: auto;
    border-radius: 5% 50% 5%;
}

#about {
    max-width: 50%;

}



#projects{}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid var(--snow);
    border-radius: 5%;
    padding: 5px;
    max-width: 25%;

}

#other {
    max-width: 50%;
}
a {
    text-decoration: none;
    color: inherit;
}
footer {
    width: 50%;
    background-color: var(--isabelline);
    color: var(--rich-black-fogra-29)
}
footer .container {
    justify-content: space-evenly;
    padding: 10px;
}