:root {
    --transblue: #55CDFC;
    --transpink: #F7A8B8;
    --white: #ffffff;
    --snow: #E1DDD1;
    --cloud: #A7ADBB;
    --storm: #191f24;
    --razzmic-berry: #88527fff;
    --rich-black-fogra-29: #031927ff;
    --middle: rgb(2, 13, 20);
    --ocean-green: #43c59eff;
    --isabelline: #f4ededff;
    --myrtle-green: #3d7068ff;

  }


body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: linear-gradient(5deg, var(--myrtle-green), var(--rich-black-fogra-29)60% 100%);
    font-family: "Teko";
    font-weight: 300;
    font-size: 1.5vw;
    color: var(--razzmic-berry);
    


}

#box {
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



#intro {
    font-family: "Permanent Marker";
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(to bottom right, var(--storm)15%, var(--cloud));
    overflow: hidden;
}



.drop {
    position: absolute;
    width: 1vw;
    height: 1vw;
    left: 19.2vw;
    top: 10vw;
    z-index: 1;
    border-radius: 1vw;
    background-color: var(--cloud);
    align-self: center;
    animation: drip 4s 1 cubic-bezier(1,0,.91,.19), fade 4s 1 cubic-bezier(1,0,.91,.19);
}
.drop:before {
    content: '';
    position: relative;
    width:0;
    height:0;
    border-left: 0.55vw solid transparent;
    border-right: 0.55vw solid transparent;
    border-bottom: 1.5vw solid var(--cloud);
    top: -3.2vw;

}

@keyframes drip {
    from {
        top: 10vw;
    }
      to {
        top: 30vw;
      }
}

@keyframes fade{
    from {
        opacity: 1;
        
    }
    to {
        opacity: 0;
    }
}

.ocean {
    height: 15vw;
    width: 100%;
}

h1 {
    margin: 0;
    font-size: 10vw;
    color: var(--cloud);
    text-shadow: 0px 5px 2px #191f24;
}

.wave {
    width: 200%;
    margin-bottom: -10px;
    animation-name: swell;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    fill: var(--rich-black-fogra-29);
  }
  
  @keyframes swell {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
  }
}
  



#about {
    border: 5px solid black;
    border-radius: 20%;
    max-width: 50%;
    background-color: rgba(0,0,0, 1);
    display: flex;
    flex-direction: column;
    padding: 3vh;
    padding-top: 0;
}

#about > h2 {
    text-shadow: 0px 2px 0px var(--razzmic-berry);
}

#pfp {
    height: 30vh;
    border-radius: 50% 5% 50% 5%;
    
}

.bulletPoints{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    justify-content: space-evenly;
}

.quickFacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
}

#projects{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    padding: 3vh;
    padding-bottom: 5vh;
    border-radius: 10%;
    border: 5px solid var(--cloud);
    

}

#projects > h2 {
    width: 100%;
    margin-top: 0px;
    color: var(--myrtle-green);
    text-shadow: 3px 3px 2px black;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 3px solid var(--snow);
    border-radius: 10%;
    padding: 5px;
    max-width: 40%;
    color: var(--myrtle-green);
}

.project > h4 {
    text-shadow: 2px 2px 2px black;
}
.projectDescription {
    padding: 5px;
    padding-left: 15px;;
}

#other {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 3px solid var(--cloud);
    border-radius: 10%;
    padding: 5px;
    max-width: 40%;
    color: var(--myrtle-green)
}



footer {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10vh;
    width: 50%;
    color: var(--cloud);
}
footer .container {
    margin-bottom: -10vh;
    z-index: 2;

}

a {
    text-decoration: none;
    color: inherit;
}

#svg5 {
    width: 100%;
    height: 100%;
}
